{% extends "base.html" %}

{% block content %}
<div class="containerListT">
	<div class="ListaImagenes">
		<h1>Lista Tareas</h1>
		<p>
		    {% for image in Limages %}
		    <div class="containerTarea">	
			    <!-- Display Objects -->
			    <li><img src="{{ image.ruta }}" alt="image" style="width:100%"/></li>
			    <li>{{ image.name }}</li>
			    <hr/>
		    </div>
		    <!-- If object_list is empty  -->
		    {% empty %}
		    <li>No existe una lista de imágenes para esta acción.</li>
		    {% endfor %}
		</p>
	</div>
	<a href="{% url 'index' %}"><button class="btn btn-sm btn-outline-secondary" type="button" >Volver</button></a>
</div>

{% endblock %}